.back-img {
  background-image: url("../../assets/images/partner up.png");
  width: 100%;
  height: 327px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.partner-up {
  padding: 0 0 70px 0;
}

.back-img h3 {
  font-size: 65px;
  font-weight: 596;
  line-height: 72.15px;
  text-align: center;
  color: #fff;
}
.partner-button button {
  width: 178px;
  height: 53px;
  border-radius: 5px 0px 0px 0px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  margin: 0 0 0 0;
  font-family: "Inter" sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  cursor: pointer;
}
.partner-button {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* ipad pro */
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .partner-button button {
    width: 117px;
    height: 45px;
    font-size: 13px;
  }

  .back-img h3 {
    font-size: 30px;
  }
  .back-img {
    height: 272px;
  }
  .links {
    gap: 14px;
  }
  .links a img {
    width: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .back-img h3 {
    font-size: 25px;
  }
  .partner-button button {
    width: 129px;
    height: 50px;
    font-size: 14px;
  }
  .back-img {
    height: 232px;
  }
  .column-5 .link-img-d {
    width: 70.23px;
  }
  .column-5 .link-img-c {
    width: 65.19px;
  }
  .column-5 .link-img-b {
    width: 60.66px;
  }
  .column-5 .link-img-a {
    width: 85.32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .partner-button {
    flex-direction: column;
  }
  .back-img h3 {
    font-size: 25px;
  }
  .back-img {
    height: 373px;
  }
  .links-wrapper {
    display: none;
  }
}
