@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 1305.72px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.icon-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
}
ul.icon-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #1a1a1a;
}
.col {
  display: flex;
}
ul.icon-box {
  display: flex;
  gap: 10px;
}

.icon-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.88px;
  height: 23.88px;
  border-radius: 73.75px;
  border: 1px solid;
  color: #e86f31;
  background-color: #e86f31;
  padding: 5px;
}
.top-bar {
  border-bottom: 1px solid #7a7a7a;
}
a.weight {
  font-weight: 600;
  color: #e86f31 !important;
  border-bottom: 1px solid #e86f31;
}
.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-link ul {
  gap: 20px;
  display: flex;
  align-items: center;
}
.icon-list li:first-child {
  border-right: 1px solid #000;
  padding-right: 15px;
}

.icon-list li:last-child {
  padding-left: 15px;
}

.icon-list li {
  padding-right: 15px;
}

.hamburger-wrapper {
  display: none;
  cursor: pointer;
}

.hamburger-menu {
  width: 30px;
  height: 3px;
  background: #000;
  transition: all 0.3s;
  position: relative;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #000;
  position: absolute;
  transition: all 0.3s;
}

.hamburger-menu::before {
  top: -10px;
}

.hamburger-menu::after {
  top: 10px;
}

.hamburger-menu.animate {
  background: transparent;
}

.hamburger-menu.animate::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger-menu.animate::after {
  top: 0;
  transform: rotate(-45deg);
}

.visible {
  display: flex;
}

.menu-link a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #1a1a1a;
}
.quote button {
  width: 172px;
  height: 60px;
  background-color: #e86f31;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
}
.navbar {
  padding: 18px 0;
}
a.bold {
  font-weight: 600 !important;
}
.bg-img {
  background-image: url("images/Rectangle\ 6\ \(2\).png");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-menu-overlay {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  justify-content: space-between;
}
/* ipad mini */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  ul.icon-list a {
    font-size: 13px;
  }
  .menu img {
    width: 100px;
  }
  .menu-link a {
    font-size: 12px;
  }
  .quote button {
    width: 110px;
    height: 50px;
    font-size: 14px;
  }
  a.border {
    width: 32.39px;
    height: 32.39px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .col {
    flex-direction: column;
    padding: 0 0 0 10px;
  }
  ul.icon-box {
    display: flex;
    justify-content: center;
  }
  ul.icon-list a {
    font-size: 8px;
  }
  .top-bar .row {
    flex-wrap: wrap;
  }
  .mobile-menu-overlay.visible {
    display: flex;
  }
  .hamburger-wrapper {
    display: block;
  }
  .mobile-menu-overlay {
    display: none;
    position: relative;
    width: 100%;
  }
  .menu-link {
    width: 100%;
    background: #e9763b;
    padding: 4% 0% 6% 0%;
  }
  .hamburger-menu.animate::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .menu-link ul {
    display: block;
    padding: 0 0 0 20px !important;
  }
  .navbar {
    padding: 18px 20px;
    position: relative;
  }
  .quote button {
    display: none;
  }
  .menu img {
    width: 100px;
  }
  .menu-link a {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 32px;
  }
  .navbar .row {
    flex-wrap: wrap;
  }
  a.weight {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff !important;
    line-height: 32px;
  }
}
