@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  list-style-type: none;
  text-decoration: none;
}
.container {
  max-width: 1305.72px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.icon-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
}
ul.icon-list a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #1a1a1a;
}
.col {
  display: flex;
}
ul.icon-box {
  display: flex;
  gap: 10px;
}

.icon-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.88px;
  height: 23.88px;
  border-radius: 73.75px;
  border: 1px solid;
  color: #e86f31;
  background-color: #e86f31;
  padding: 5px;
}
.top-bar {
  border-bottom: 1px solid #7a7a7a;
}
a.weight {
  font-weight: 600;
  color: #e86f31 !important;
  border-bottom: 1px solid #e86f31;
}
.column {
  display: flex;
  align-items: center;
  gap: 10px;
}
.column ul {
  gap: 20px;
  display: flex;
  align-items: center;
}
.column a {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  color: #1a1a1a;
}
.quote button {
  width: 172px;
  height: 60px;
  background-color: #e86f31;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
  text-align: center;
}
.navbar {
  padding: 18px 0;
}
a.bold {
  font-weight: 600 !important;
}
.bg-img {
  background-image: url(images/Rectangle\ 6\ \(2\).png);
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}